<link href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm px-5">
    <a class="navbar-brand" href="/"><img width="auto" height="50" src="assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto font-weight-bold">
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store"> Catalogo libri </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studyhalls"> Aule studio </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto font-weight-bold">
      <ng-container *ngIf="currentUser; else noUser">
        <li *ngIf="currentUser.roles === 'ROLE_ADMIN'" class="nav-item">
          <div class="dropdown show">
            <a class="btn nav-link font-weight-bold dropdown-toggle" style="color: #00000080;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pannello Admin</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/admin/books">Gestione libri</a>
              <a class="dropdown-item" href="/admin/studyhalls">Gestione aule studio</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Il mio profilo <i class="bi bi-person-circle align-text-bottom"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Esci <i class="bi bi-box-arrow-right align-text-bottom"></i></a>
        </li>
      </ng-container>
      <ng-template #noUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Il mio profilo</a>
        </li>
      </ng-template>
      </ul>
    </div>
  </nav>
</div>
