<!--<div class="container page-content">-->
<!--  <form method="post">-->
<!--    <div class="row">-->

<!--      &lt;!&ndash; Checkout Info &ndash;&gt;-->
<!--      <div class="col-lg-8 mb-3" >-->
<!--        <div id="accordion">-->
<!--          <div class="card">-->
<!--            <div class="card-header bg-white" id="headingOne">-->
<!--              <h5 class="mb-0">-->
<!--                <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                  RIVEDI IL CARRELLO <i data-feather="chevron-down" class="mb-1"></i>-->
<!--                </button>-->
<!--              </h5>-->
<!--            </div>-->
<!--            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
<!--              <div class="card-body border-bottom">-->
<!--                <div class="row">-->
<!--                  <div *ngFor="let item of products" class="col-md-6">-->
<!--                    <figure class="itemside  mb-4">-->
<!--                      <div class="aside"><a href="/article/{{item.id}}"><img class="img-sm border" src="{{item.picture}}" alt="{{item.title}}"></a></div>-->
<!--                      <figcaption class="info">-->
<!--                        <p><a href="/article/{{item.id}}" class="font-weight-bold">{{item.title}}</a></p>-->
<!--                        <span style="color:#969696">Taglia: {{getItemSize(item.id)}}</span>-->
<!--                        <br>-->
<!--                        <span style="color:#969696">{{getItemQty(item.id)}} x {{item.price}} = </span>-->
<!--                        <span style="color:#969696">{{item.price * getItemQty(item.id)}} €</span>-->
<!--                      </figcaption>-->
<!--                    </figure>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="card">-->
<!--            <div class="card-header bg-white" id="headingTwo">-->
<!--              <h5 class="mb-0">-->
<!--                <button class="btn btn-link checkout-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--                  SPEDIZIONE <i data-feather="chevron-down" class="mb-1"></i>-->
<!--                </button>-->
<!--              </h5>-->
<!--            </div>-->
<!--            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">-->
<!--              <div class="card-body border-bottom">-->
<!--                <div class="form-row">-->
<!--                  <div class="form-group col-12">-->
<!--                    <label for="receiver">Nome e cognome</label>-->
<!--                    <input type="text" value="{{user?.firstName}} {{user?.lastName}}" class="form-control" id="receiver" name="receiver" required="required"/>-->
<!--                  </div>-->
<!--                  <div class="form-group col-12">-->
<!--                    <label for="streetAddress">Via e numero civico</label>-->
<!--                    <input type="text" value="{{user?.address.streetAddress}}" class="form-control" id="streetAddress" name="streetAddress" required="required" />-->
<!--                  </div>-->
<!--                  <div class="form-group col-4">-->
<!--                    <label for="city">Città</label> <input type="text" value="{{user?.address.city}}"-->
<!--                                                           class="form-control" id="city"-->
<!--                                                           required="required"/>-->
<!--                  </div>-->
<!--                  <div class="form-group col-4">-->
<!--                    <label for="country">Provincia</label> <input type="text" value="{{user?.address.country}}"-->
<!--                                                                  class="form-control" id="country"-->
<!--                                                                  required="required"/>-->
<!--                  </div>-->
<!--                  <div class="form-group col-4">-->
<!--                    <label for="zipCode">CAP</label> <input-->
<!--                    type="text" value="{{user?.address.zipCode}}"  class="form-control" id="zipCode" required="required" />-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="mt-2 text-right">-->
<!--                  <a data-toggle="collapse" data-parent="#accordion"-->
<!--                     class="btn btn-primary" href="#collapseThree">Avanti <i data-feather="arrow-right"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="card">-->
<!--            <div class="card-header bg-white" id="headingThree">-->
<!--              <h5 class="mb-0">-->
<!--                <button class="btn btn-link checkout-header collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--                  PAGAMENTO  <i data-feather="chevron-down" class="mb-1"></i>-->
<!--                </button>-->
<!--              </h5>-->
<!--            </div>-->
<!--            <div id="accorditionpayment">-->
<!--              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">-->
<!--                <div class="card">-->
<!--                  <div class="card-header bg-white" id="accordion_pay">-->
<!--                    <h5 class="mb-0">-->
<!--                      <img src="assets/images/payment-paypal.png" class="float-right" height="24">-->
<!--                      <label class="form-check" data-toggle="collapse" aria-expanded="false" data-target="#pay_paynet">-->
<!--                        <input class="form-check-input" name="payment-option" checked="false" type="radio">-->
<!--                        <h6 class="form-check-label">PayPal</h6>-->
<!--                      </label>-->
<!--                    </h5>-->
<!--                  </div>-->
<!--                  <div id="pay_paynet" class="collapse" aria-labelledby="headingTwo" data-parent="#accorditionpayment">-->
<!--                    <div class="card-body border-bottom">-->
<!--                      <p class="text-center text-muted">Paga con PayPal. Sarai indirizzato sul sito di PayPal per processare il pagamento.</p>-->
<!--                      <p class="text-center">-->
<!--                        <a (click)="paypal()"><img src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/misc/btn-paypal.png" height="32"></a>-->
<!--                        <br><br>-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-header bg-white" id="accordion_pay2">-->
<!--                    <h5 class="mb-0">-->
<!--                      <img src="assets/images/creditcard.png" class="float-right" height="24">-->
<!--                      <label class="form-check" data-toggle="collapse" aria-expanded="false" data-target="#pay_paynet2">-->
<!--                        <input class="form-check-input" name="payment-option" checked="false" type="radio">-->
<!--                        <h6 class="form-check-label">Carta di credito</h6>-->
<!--                      </label>-->
<!--                    </h5>-->
<!--                  </div>-->
<!--                  <div id="pay_paynet2" class="collapse" aria-labelledby="headingTwo" data-parent="#accorditionpayment">-->
<!--                    <div class="card-body border-bottom">-->
<!--                      <div class="row">-->
<!--                        <div class="col-12">-->
<!--                          <div class="form-group">-->
<!--                            <label for="cardType">Metodo di pagamento: </label>-->
<!--                            <select class="form-control" id="cardType" name="type" required [(ngModel)]="cardTypeValue">-->
<!--                              <option value="VISA">Visa</option>-->
<!--                              <option value="MasterCard">Mastercard</option>-->
<!--                              <option value="Discover">Discover</option>-->
<!--                              <option value="AMEX">American Express</option>-->
<!--                            </select>-->
<!--                          </div>-->

<!--                          <div class="form-group">-->
<!--                            <label for="cardHolder">Nome sulla carta:</label>-->
<!--                            <input type="text" class="form-control" name="cardHolder" id="cardHolder" required [(ngModel)]="cardHolderValue">-->
<!--                          </div>-->
<!--                          <div class="form-group">-->
<!--                            <label for="cardNumber">Numero della carta:</label>-->
<!--                            <div class="input-group">-->
<!--                              <input type="tel" class="form-control" name="cardNumber" id="cardNumber" required [(ngModel)]="cardNumberValue">-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="row">-->
<!--                        <div class="col-7">-->
<!--                          <div class="form-group">-->
<!--                            <label>Data di scadenza:</label>-->
<!--                            <div class="row">-->
<!--                              <div class="col-6">-->
<!--                                <select class="form-control" name="expiryMonth" required [(ngModel)]="expiryMonthValue">-->
<!--                                  <option value="0" selected>&#45;&#45; Mese &#45;&#45;</option>-->
<!--                                  <option value="1">Gen (01)</option>-->
<!--                                  <option value="2">Feb (02)</option>-->
<!--                                  <option value="3">Mar (03)</option>-->
<!--                                  <option value="4">Apr (04)</option>-->
<!--                                  <option value="5">Mag (05)</option>-->
<!--                                  <option value="6">Giu (06)</option>-->
<!--                                  <option value="7">Lug (07)</option>-->
<!--                                  <option value="8">Ago (08)</option>-->
<!--                                  <option value="9">Set (09)</option>-->
<!--                                  <option value="10">Ott (10)</option>-->
<!--                                  <option value="11">Nov (11)</option>-->
<!--                                  <option value="12">Dic (12)</option>-->
<!--                                </select>-->
<!--                              </div>-->
<!--                              <div class="col-6">-->
<!--                                <select class="form-control" name="expiryYear" required [(ngModel)]="expiryYearValue">-->
<!--                                  <option value="0" selected>&#45;&#45; Anno &#45;&#45;</option>-->
<!--                                  <option value="2020">2020</option>-->
<!--                                  <option value="2021">2021</option>-->
<!--                                  <option value="2022">2022</option>-->
<!--                                  <option value="2023">2023</option>-->
<!--                                  <option value="2024">2024</option>-->
<!--                                  <option value="2025">2025</option>-->
<!--                                  <option value="2026">2026</option>-->
<!--                                  <option value="2027">2027</option>-->
<!--                                  <option value="2028">2028</option>-->
<!--                                  <option value="2029">2029</option>-->
<!--                                </select>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="col-5">-->
<!--                          <div class="form-group">-->
<!--                            <label for="cardCVC">Codice CVC:</label>-->
<!--                            <input id="cardCVC" type="number" class="form-control" name="cvc" required [(ngModel)]="cvcValue"/>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="mt-2 text-right">-->
<!--                        <a data-toggle="collapse" data-parent="#accordion"-->
<!--                           class="btn btn-primary" href="#collapseThree">Avanti <i data-feather="arrow-right"></i></a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div> &lt;!&ndash;  end accordion &ndash;&gt;-->
<!--      </div>-->


<!--      &lt;!&ndash; Summary Panel &ndash;&gt;-->
<!--      <div class="col-lg-4">-->
<!--        <div class="card shadow">-->
<!--          <div class="card">-->
<!--            <div class="card-header bg-white checkout-header">RIEPILOGO ORDINE</div>-->
<!--            <div class="card-body">-->
<!--              <div class="d-flex justify-content-between">-->
<!--                <span>Subtotale</span>-->
<!--                <span>{{cart?.grandTotal}} €</span>-->
<!--              </div>-->
<!--              <div class="d-flex justify-content-between">-->
<!--                <span>Spedizione</span>-->
<!--                <span>0,00 €</span>-->
<!--              </div>-->
<!--              <hr>-->
<!--              <div class="d-flex justify-content-between">-->
<!--                <span>Totale ordine</span>-->
<!--                <span class="font-weight-bold">{{cart?.grandTotal}} €</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="card-footer bg-white border-top-0">-->
<!--              <button (click)="creditcard()" type="submit" class="btn btn-primary btn-block">Acquista</button>-->
<!--              <p style="font-size: smaller;">-->
<!--                Con il tuo ordine accetti le nostre condizioni, l’Informativa sulla privacy e l’informativa sul Diritto di Recesso.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

<!--</div>-->
