<div class="container page-content">
  <div class="row">

    <div class="col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="assets/images/user.png" width="100" height="100" alt="UserAuth" class="rounded-circle mb-3">
          <h5 class="bold mb-0">Ciao {{user?.firstName}}!</h5>
          <small class="text-secondary">Ultimo accesso {{currentDate | date:'dd MMM, yyyy'}}
          </small>
        </div>
        <div class="list-group list-group-flush">
          <a routerLink="/profile" class="list-group-item list-group-item-action"><i data-feather="user"
                                                                                     class="mr-3"></i> Profilo</a>
          <a routerLink="/orders" class="list-group-item list-group-item-action"><i data-feather="book"
                                                                                    class="mr-3"></i> Libri
            prenotati</a>
          <a routerLink="/studyhalls/bookings" class="list-group-item list-group-item-action active"><i
            data-feather="calendar" class="mr-3"></i> Aule prenotate</a>
          <a (click)="logout()" class="list-group-item list-group-item-action text-danger"><i data-feather="log-out"
                                                                                              class="mr-3"></i> Esci</a>
        </div>
      </div>
    </div>

    <div class="col mt-3 mt-md-0">

      <div class="card">
        <div class="card-body">
          <h3>Prenotazioni aula studio</h3>
          <hr>

          <div class="container">
            <div *ngFor="let book of sortData; let i = index" [attr.data-index]="i" class="row">
              <div class="col-md-12">
                <div class="people-nearby">
                  <div class="nearby-user">
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-sm-12">
                        <h5><a href="#" class="profile-link">{{this.getStudyHallName(book.studyHallId)}}</a></h5>
                        <p>{{this.getStudyHallAddress(book.studyHallId)}}</p>
                        <p class="text-muted">{{book?.date | date: 'dd MMM yyyy'}}</p>
                      </div>
                      <div *ngIf="bookIsToday(book)">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <button (click)="cancelBooking(book)" type="button" class="btn btn-danger">Cancella prenotazione</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
