<div class="container page-content mt-3 mb-3">
  <div *ngIf="succMsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Prenotazione creata!</strong>
    <div class="d-flex mt-2">
      <a routerLink="/" class="btn btn-info rounded-pill mx-2"><i data-feather="arrow-left"></i> Torna alla home</a>
      <a routerLink="/order/{{this.urlRedirect}}" class="btn btn-primary rounded-pill mx-2">Vedi dettagli prenotazione <i data-feather="arrow-right"></i></a>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <ng-template [ngIf]="product.stock == 0"><strong>Il libro non è più disponibile. Ti avviseremo quando lo sarà di nuovo.</strong></ng-template>
    <ng-template [ngIf]="errMsgDisplay == 'already_booked'"><strong>Hai già prenotato questo libro!</strong></ng-template>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 border-right">
          <img class="img-fluid" src="{{product?.picture}}">
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <h2 class="card-title">{{product?.title}}</h2>
          <h5>Autore: {{product?.author}}</h5>
          <p class="d-none d-lg-block">{{product?.description}}</p>
            <div class="form-row">
              <div class="form-group col-sm-6 d-flex align-items-end">
                <button (click)="bookingBook()" class="btn  btn-primary w-100">Prenota libro <i data-feather="shopping-cart" width="20" height="20" class="filled"></i>
                </button>
              </div>
            </div>
          <hr>
          <div class="padding-bottom-1x mb-2"><span class="text-medium">Categoria: </span>
          <span *ngFor="let category of product?.categories" class="badge badge-secondary mt-1 mr-1">{{category.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .filled {
    fill: currentColor;
  }
</style>
